<!-- Validation failure messages -->
<% if @planned_event.errors.any? %>
  <% @planned_event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Planned Event</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_planned_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for party_id -->
      <div class="form-group">
        <label for="party_id" class="control-label">
          Party
        </label>

        <%= select_tag(:party_id, options_from_collection_for_select(Party.all, :id, :name, @planned_event.party_id), :class => "form-control") %>
      </div>

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :title, @planned_event.activity_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Planned Event
      </button>
      or
      <a href="/planned_events">Cancel</a>
    </form>
  </div>
</div>
